@using Autogermana.Application.ProductServices.QueryProductsByCategory
@model List<ProductsByCategoryDTO>

@{
    ViewData["Title"] = "productos";
    var idCategoria = ViewBag.categoriaId;
    int cont = 0;
}




@if (Model.Count != 0)
{
    <table class="table table-dark">
        <thead>
            <tr>
                <th scope="col">cantidad</th>
                <th scope="col">Codigo</th>
                <th scope="col">Descripcion</th>
                <th scope="col">Estado</th>
                <th scope="col">Estado</th>
                <th scope="col">Nombre</th>
                <th scope="col">Precio</th>
                <th scope="col">Stock</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model)
            {  
                <tr>
                    <th scope="row">@cont++</th>
                    <td>@product.Codigo</td>
                    <td>@product.Descripcion</td>
                    <td>@product.Estado</td>
                    <td>@product.Nombre</td>
                    <td>@product.Precio</td>
                    <td>@product.Stock</td>
                </tr>
            }
        </tbody>
    </table>
    
}
else
{
    <div class="card">
        <div class="card-header">
            comenzamos
        </div>
        <div class="card-body">
            <h5 class="card-title">Sin Registros aun</h5>
            <p class="card-text">Aun no tienes productos, debes crear una para comenzar</p>
            <a class="btn btn-outline-dark" asp-area="" asp-controller="Product" asp-action="CrearProducto" asp-route-idCategoria="@idCategoria">Crear</a>
        </div>
    </div>
}